<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <style type="text/css">
    body {
      font-family: Open Sans;
      background: #000 url(../img/wood3.jpg) repeat fixed center top;
      background-position-x: 50%;
      background-position-y: 0%;
      background-size: 30% 100%;
      background-repeat-x: repeat;
      background-repeat-y: repeat;
      background-attachment: fixed;
      background-origin: initial;
      background-clip: initial;
      background-color: rgb(0, 0, 0);
      color: white;
      text-align: center;
      font-weight: bold;
    }
    #wrapper {
        margin: 0px auto;
        text-align: center;
    }
    #header {
        font-size: 52px;
    }
    #bar {
        background-color: #f4542c;
        opacity: .5;
        height: 8px;
        width: 50px;
            border-radius: 3px;
            margin: auto;
        width: 20%;
            text-align: center;
    }
    #conversation_board {
        height: 450px;
        width: 550px;
        color: white;
        background-color: black;
        border: 2px solid silver;
        margin: 10px auto;
        font-weight: lighter;
        font-size: 14px;
        font-style: italic;
        overflow: auto;
        /*display: table-cell;
        vertical-align: bottom;*/
    }
    input {
      background-color: black;
      color: white;
    }
    #chatMsg {
      color: lightgreen;
    }
</style>

<div id="container" ng-controller="SocketController">
  <h1 id="header">Chat Room</h1>
    <div id="bar"></div>
  <div id="conversation_board"> 
    <p id="chatMsg">Welcome to Neighbohood Watch Chat!</p>
    </div>
    <form id="message">
     <input type="text" id="new_message">
    <input type="submit" value="submit">
  </form>
</div>