<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <style type="text/css">
    body {
      font-family: Open Sans;
      background: #000 url(../img/wood3.jpg) repeat fixed center top;
      background-position-x: 50%;
      background-position-y: 0%;
      background-size: 30% 100%;
      background-repeat-x: repeat;
      background-repeat-y: repeat;
      background-attachment: fixed;
      background-origin: initial;
      background-clip: initial;
      background-color: rgb(0, 0, 0);
      color: white;
      text-align: center;
      font-weight: bold;
    }
    #wrapper {
    	margin: 0px auto;
    	text-align: center;
    }
    #map {
      width: 500px;
      height: 400px;
      display: inline-block;
      margin: 40px 40px 0px 0px;
    }
    #chat {
			height: 200px;
			width: 200px;
			background-color: green;
			display: block;
			padding: 5px;
    }
    #complaints {
    	display: inline-block;
    }
    #footer {
    	text-align: center;
    }
    #hidden {
      display: none;
      height: 350px;
      width: 400px;
      border: 3px solid yellow;
      border-radius: 10px;
      background-color: rgba(0,0,0,.5);
      position: absolute;
        right: 40%;
        top: 20%;
      color: white;
      z-index: 1;
    }
    #hidden input {
      background-color: black;
    }
    .issue{
      display: none;
    }
    #labels {
      text-align: right;
      display: inline-block;
      vertical-align: top;
    }
    #input {
      display: inline-block;
    }
    #addIssue {
      color: yellow;
      cursor: hand;
      font-size: 16px;
      display: inline;
    }
    #addIssue:hover {
      color: white;
      cursor: pointer;
    }
    #toChat {
      color: yellow;
      cursor: hand;
      font-size: 16px;
      display: inline;
      margin-left: 220px;
      text-decoration: none;
    }
    #toChat:hover {
      color: white;
      cursor: pointer;
    }
    #header h1 {
      font-size: 52px;
      margin: 0px;
    }
    #header {
      margin: 0px;
    }
    #bar {
      background-color: #f4542c;
      /*opacity: .5;*/
      height: 5px;
      width: 550px;
      border-radius: 5px;
      margin: auto;
      /*width: 20%;*/
      text-align: center;
    }
    #hiddenDiv {
      margin-top: 75px;
    }

  </style>
<div ng-controller ="UserController" id="wrapper">
<div id="hidden">
    <div id="hiddenDiv">
      <h2>Report a new issue</h2>

      <div id="labels">
        <form>
        Title:<br>
        Details:<br>
        Street Address :<br> 
        Priority : <br>
      </div>
      <div id="input">
        <input type="text" ng-model="new_issue.title" /><br>
        <input type="text" ng-model="new_issue.description" /><br>
        <input type="text" ng-model="new_issue.street" id="street"><br>
        <select ng-model="new_issue.priority">
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
        </select><br>
        <input type="submit" ng-click="addIssue(current_user._id)" id="submit">
        <input type="submit" value="Cancel" id="cancel" />
      </form>
      </div>
    </div>

  </div>
	<div id="header">
		<h1>NEIGHBORHOOD WATCH</h1>
    <div id="bar"></div>
    <p id="addIssue">Click here to submit a new report!</p>
    <a href="#/chat" id="toChat">Go to Chatroom!</a>
	</div>
	<div id="map">
    <script>
    var addresses = ["915 N 1st Street, San Jose, CA", "200 10th Street, San Jose, CA", "Zanker Rd, San Jose, CA", "Levi Stadium, Santa Clara, CA"];
    $(document).ready(function (newMarker){
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(37.3688, -121.9248),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        // addMarker()
        google.maps.event.addListener(map, 'click', function(event) {
          addMarker(event.latLng, map);
        });

        var sj = new google.maps.LatLng(37.3517, -121.9036);
        addMarker(sj, map);
        function getLocation (address) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                var latLong = new google.maps.LatLng(latitude, longitude);
                addMarker(latLong, map);
            } else {
                alert("Request failed.");
            }
        });
      }
        var address2 = [];
        for (var i = 0; i < addresses.length; i++){
          address2.push(getLocation(addresses[i]));
        }
        // var infowindow = new google.maps.InfoWindow({
        //   content: contentString
        // });

      }
      function getLocation (address) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                var latLong = new google.maps.LatLng(latitude, longitude);
                addMarker(latLong, map);
                //addMarker(latLong, map);)
                //var latLong = new google.maps.LatLng(latitude, longitude);
                //addMarker(latLong, map);
            } else {
                alert("Request failed.");
            }
        });
      }

      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;
       // Adds a marker to the map.
      function addMarker(location, map) {
        marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: map
        });
      }

      $("#addIssue").on("click", function(){
        $("#hidden").fadeToggle();
      });
      var streetArr = [];
      $("#submit").on("click", function(){
        getLocation($("#street").val());
        $("#hidden").fadeToggle();
      });
      $('.title').on("click", function(){
        $(".issue").slideToggle();
      $("#cancel").on("click", function(){
        $("#hidden").fadeToggle();
      });
      //Initialize map on window load
      google.maps.event.addDomListener(window, 'load', initialize);
      });
        google.maps.event.addDomListener(window, 'load', initialize);

    });  

  google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	</div>
	<div id="complaints" ng-repeat="issue in issues">
    
    <p class="title"><h3>Issue : {{issue.title}}</h3></p>
    <div class="issue">
    <p>Mail : <span ng-bind="issue._user.mail"><span></p>
    <p>Details : <span ng-bind="issue.description"></span></p>
    <p>Complaint logged at : <span ng-bind="issue.created | date:'MMMM d yyyy'"></span></p>
    <p>Priority : <span ng-bind="issue.priority"></span></p>
    <p>Street : <span ng-bind="issue.street"></span></p>
    <p>City : <span ng-bind="issue._user.region"></span></p>
    <p>Issue status : <span ng-bind="issue.issue_status"></span></p>
    <h3>Comments</h3>
    <div ng-repeat="comment in issue.comments">
      <h4 ng-bind="comment.mail"> </h4> 
      <p ng-bind="comment.comment"></p>
    </div>
    <form>
      <input type="text" ng-model="new_comment[issue._id].comment" /><br>
      <input type="submit" ng-click="addComment(current_user._id)" />
    </form>
  </div>
	</div>
	<div id="footer">
		<a href="#">Contact</a> | <a href="#">About Us</a> | <a href="#">Logout</a>
	</div>
  
  </div>