<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <style type="text/css">
    body {
      font-family: Open Sans;
      background: #000 url(../img/wood3.jpg) repeat fixed center top;
      background-position-x: 50%;
      background-position-y: 0%;
      background-size: 30% 100%;
      background-repeat-x: repeat;
      background-repeat-y: repeat;
      background-attachment: fixed;
      background-origin: initial;
      background-clip: initial;
      background-color: rgb(0, 0, 0);
      color: white;
      text-align: center;
      font-weight: bold;
    }
    #wrapper {
      margin: 0px auto;
      text-align: center;
    }
    #map {
      width: 500px;
      height: 400px;
      display: inline-block;
      margin: 40px 40px 0px 0px;
    }
    #chat {
      height: 200px;
      width: 200px;
      background-color: green;
      display: block;
      padding: 5px;
    }
    #complaints {
      display: inline-block;
      width: 350px;
      vertical-align: top;
      border: 2px solid white;
      border-radius: 10px;
      margin-top: 10px;
    }
    #complaints h3 {
      margin-top: 10px;
    }
    #complaints a:hover {
      color: #f4542c;
    }
    #complaints p {
      font-weight: lighter;
    }
    #footer {
      text-align: center;
    }
    #hidden {
      display: none;
      height: 350px;
      width: 400px;
      border: 3px solid yellow;
      border-radius: 10px;
      background-color: rgba(0,0,0,.8);
      position: absolute;
        right: 40%;
        top: 20%;
      color: white;
      z-index: 1;
    }
    #hidden input {
      background-color: black;
    }
    #hidden select {
      background-color: black;
      color: white;
    }
    .issue{
      display: none;
    }
    #labels {
      text-align: right;
      display: inline-block;
      vertical-align: top;
      line-height: 26px;
    }
    #input {
      display: inline-block;
    }
    #addIssue {
      color: yellow;
      cursor: hand;
      font-size: 16px;
      display: inline;
    }
    #addIssue:hover {
      color: white;
      cursor: pointer;
    }
    #toChat {
      color: yellow;
      cursor: hand;
      font-size: 16px;
      display: inline;
      margin-left: 220px;
      text-decoration: none;
    }
    #toChat:hover {
      color: white;
      cursor: pointer;
    }
    #header h1 {
      font-size: 52px;
      margin: 0px;
    }
    #header {
      margin: 0px;
    }
    #bar {
      background-color: #f4542c;
      /*opacity: .5;*/
      height: 5px;
      width: 550px;
      border-radius: 5px;
      margin: auto;
      /*width: 20%;*/
      text-align: center;
    }
    #hiddenDiv {
      margin-top: 75px;
    }
    #rightContent {
      display: inline-block;
      width: 480px;
      vertical-align: top;
      margin-top: 30px;
    }
    #leftContent {
      display: inline-block;
      width: 480px
    }
    .red {
      color: red;
    }
    .yellow {
      color: yellow;
    }
    .green {
      color: green;
    }
    .logo {
      display: inline-block;
      vertical-align: top;
      margin-top: 15px;
    }
    .content {
      display: inline-block;
      width: 250px;
    }
    .logo img {
      height: 50px;
      width: 30px;
    }
    #weather {
      height: 100px;
      width: 100px;
      position: absolute;
    }
  </style>
  <script type="text/javascript">
    $.get('http://api.openweathermap.org/data/2.5/weather?q=sanclara&mode=html', function(data) {
      console.log(data);
      $("#weather").html(data);
    });
</script>
<div ng-controller ="UserController" id="wrapper">
<div id="hidden">
    <div id="hiddenDiv">
      <h2>Report a new issue</h2>

      <div id="labels">
        <form>
        Title:<br>
        Details:<br>
        Street Address :<br> 
        Priority : <br>
      </div>
      <div id="input">
        <input type="text" ng-model="new_issue.title" /><br>
        <input type="text" ng-model="new_issue.description" /><br>
        <input type="text" ng-model="new_issue.street" id="street"><br>
        <select ng-model="new_issue.priority">
                    <option selected="selected">High</option>
                    <option>Medium</option>
                    <option>Low</option>
        </select><br>
        <input type="submit" ng-click="addIssue(current_user._id)" id="submit">
        <input type="submit" value="Cancel" id="cancel" />
      </form>
      </div>
    </div>

  </div>
  <div id="weather">
    <!-- Current weather -->
  </div>

  <div id="header">
    <h1>NEIGHBORHOOD WATCH</h1>

    <div id="bar"></div>
    <p id="addIssue">Click here to submit a new report!</p>
    <a href="#/chat" id="toChat">Go to Chatroom!</a>
  </div>
  <div id="leftContent">
   <div id="map">
   </div>
  </div>
  <div id="rightContent">
    <h2>Most Recent Reports Filed</h2>
    Priority:  <span class="red">URGENT  </span><span class="yellow">MEDIUM  </span><span class="green">LOW</span>


  	<div id="complaints" ng-repeat="issue in issues">
      <div class="logo">
        <img src="../img/red_marker{{ $index }}.png">
      </div>
      <div class="content">
        <div ng-if="issue.priority == 'High'">
          <!-- <p><h3 class='red'>{{issue.title}}</h3></p> -->
          <p><h3><a class="red" href="#/issue/{{issue._id}}">{{issue.title}}</a></h3>
        </div>
        <div ng-if="issue.priority == 'Medium'">
          <!-- <p><h3 class='yellow'>{{issue.title}}</h3></p> -->
          <p><h3><a class="yellow" href="#/issue/{{issue._id}}">{{issue.title}}</a></h3>
        </div>
        <div ng-if="issue.priority == 'Low'">
          <!-- <p><h3 class='green'>{{issue.title}}</h3></p> -->
          <p><h3><a class='green' href="#/issue/{{issue._id}}">{{issue.title}}</a></h3>
        </div>
        <!-- <p class="title"><h3 ng-if="issue.priority == 'high'" class="red">{{issue.title}}</h3></p> -->
        <p id="urgency">{{issue.description}}</p>
        <!-- <p id="urgency" ng-if="priority == 'High'" class="red"> -->
        <div class="issue">
          <p>Mail : <span ng-bind="issue._user.mail"><span></p>
          <!-- <p>Details : <span ng-bind="issue.description"></span></p> -->
          <p>Complaint logged at : <span ng-bind="issue.created | date:'MMMM d yyyy'"></span></p>
          <p>Priority : <span ng-bind="issue.priority"></span></p>
          <p>Street : <span ng-bind="issue.street"></span></p>
          <p>City : <span ng-bind="issue._user.region"></span></p>
          <p>Issue status : <span ng-bind="issue.issue_status"></span></p>
          <h3>Comments</h3>
          <div ng-repeat="comment in issue.comments">
            <h4 ng-bind="comment.mail"> </h4> 
            <p ng-bind="comment.comment"></p>
          </div>
          <form>
            <input type="text" ng-model="new_comment[issue._id].comment" /><br>
            <input type="submit" ng-click="addComment(current_user._id)" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <a href="#">Contact</a> | <a href="#">About Us</a> | <a href="#/">Logout</a>
  </div>
  
</div>