<style>
	.complaint {
		display: block;
		vertical-align: top;
	}
	#latest {
		display: inline-block;
	}
	#latest a {
		display: block;
	}
	textarea {
		display: block;
	}
	#sidebar {
		display: inline-block;
	}
</style>
<div ng-controller="AdminContrller" id="wrapper">
	<h2>Admin Dashboard</h2>
	<div id="latest">
		<div class="complaint">
			<a href="#">Complaint</a>
			Complaint Description
			<textarea rows="3" cols="50">Enter answer here</textarea>
		</div>
		<div class="complaint">
			<a href="#">Complaint</a>
			Complaint Description
			<textarea rows="3" cols="50">Enter answer here</textarea>
		</div>
		<div class="complaint">
			<a href="#">Complaint</a>
			Complaint Description
			<textarea rows="3" cols="50">Enter answer here</textarea>
		</div>
		<div class="complaint">
			<a href="#">Complaint</a>
			Complaint Description
			<textarea rows="3" cols="50">Enter answer here</textarea>
		</div>
	</div>
	<div id="sidebar">
		<ul>
			<li>User</li>
			<li>User</li>
			<li>User</li>
			<li>User</li>
			<li>User</li>
			<li>User</li>
			<li>User</li>
			<li>User</li>
			<li>User</li>
			<li>User</li>
			<li>User</li>
	</div>
</div>