<style>
    #wrapper {
    	margin: 0px auto;
    	text-align: center;
    }
    #map {
      width: 500px;
      height: 400px;
      display: inline-block;
    }
    #sidebar {
    	display: inline-block;
    	width: 220px;
    	background-color: gray;
    	vertical-align: top;
    }
    #chat {
			height: 200px;
			width: 200px;
			background-color: green;
			display: block;
			padding: 5px;
    }
    #highPriority {
    	height: 200px;
			width: 200px;
			background-color: yellow;
			display: block;
			padding: 5px; 
    }
    #complaints {
    	display: inline-block;
    }
    #footer {
    	text-align: center;
    }
    #hidden {
      display: none;
      height: 500px;
      width: 600px;
      border-radius: 2px solid black;
      background-color: rgba(0,0,0,.5);
      position: absolute;
        left: 25%;
        right: 25%;
        top: 20%;
      color: white;
    }
    #addIssue {
      text-decoration: underline;
      color: green;
      cursor: hand;
    }
    #addIssue:hover {
      color: orange;
      cursor: pointer;
    }
  </style>

<div ng-controller ="userController" id="wrapper">
	<div id="header">
		<a href="#">Logout</a>
	</div>
	<div id="title">
		<h1>Neighborhood Watch</h1>
    <p id="addIssue">Click here to add an issue</p>
	</div>
	<div id="map">
    <script>
    $(document).ready(function(){
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(37.3517, -121.9036),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        marker = new google.maps.Marker({
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP,
          position: {lat: 37.3382, lng: -121.8863}
        });
        marker2 = new google.maps.Marker({
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP,
          position: {lat: 37.3517, lng: -121.9036}
        });
        marker.addListener('click', toggleBounce);
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      $("#addIssue").on("click", function(){
        $("#hidden").fadeToggle();
      });

    });  
    </script>
	</div>
	<div id="complaints">
		<h2>Latest Complaints</h2>
		<ul>
			<li>Complaint</li>
			<li>Complaint</li>
			<li>Complaint</li>
		</ul>
	</div>
	<div id="sidebar">
		<div id="highPriority">
			High Priority Complaints
		</div>
		<div id="chat">
			Chat Box
		</div>
	</div>
	<div id="footer">
		<a href="#">Contact</a> | <a href="#">About Us</a> | <a href="#">Logout</a>
	</div>
  <div id="hidden">
    <h2>Report a new issue</h2>
    Title:<input type="text" ng-model="new_issue.title" /><br>
    Details:<input type="text" ng-model="new_issue.description" /><br>
    <input type="submit" ng-click="addIssue()">
  </div>