	<div id="register" ng-controller="">
		<h3>Register</h3>
		<label>Enter your e-mail address</label>
		<input type="text" ng-model=""><br>
		<label>Enter your Password</label>
		<input type="text" ng-model="">	<br>	
		<label>Confirm Password</label>
		<input type="text" ng-model="">	<br>	
		<select>
			<option>San Jose</option>
			<option>Santa Clara </option>
			<option>Sunnyvale </option>
			<option>Mountain-view</option>
		</select><br>
		<input type="submit" ng-click="" value="Register">

	</div>	